body {
    margin: 0;
    font-family:  'Ek Mukta'; font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eeedec;
    color: #e74d1c;
    text-align: center;
    
  }
  
  button.normal {display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#9b9b9b;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  
    
  }
  
  
  
  .button:hover {
  
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .input-container {
    background: rgba(160, 160, 160, 0.34);
    border-radius: 8px;
    width: 200px; 
    height: 30px;
    font-size: 14px;
    text-align: left;
    border-style: solid;
    border-color: rgb(185, 180, 180);
    
    
  }
  .nice-button {
    font-size: 1em;
      text-align: center;
      background-color: #e74d1c;
      color: white;
      margin-bottom: 5px;
      padding-top: 5px;
    padding-bottom: 6px;
      border: none;
      cursor: pointer;
    border-radius: 10px;
    opacity: 100%;
    text-decoration: none;
    width: 210px;
  
  }
  
  .signup-button {
    font-size: 1em;
      text-align: center;
      background-color: gray;
      color: white;
      margin: 0;
      padding-top: 5px;
    padding-bottom: 6px;
    text-decoration: none;
      border: none;
      cursor: pointer;
    border-radius: 10px;
    opacity: 100%;
    width: 210px;
  }
  
  .signup {
    background-color: gray;
  }
  
  #main{
    margin: 0px auto;
  }
  
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  li {
    
    opacity: 80%;
    text-transform: capitalize;
    margin: 10px;
    background-blend-mode: color;
    display: inline-block;
    background-color: #fafafe;
    border-radius: 10px;
   
    padding: 10px 20px 10px;
    
    width: 320px;
    box-sizing: border-box;
  
    
  }
  
  .dd-logo {
    width: 10px;
    display: inline;
  
  }
  
  ul li:not(first-child){
    list-style : disc inside;
    width : 250pt;
    list-style-position: outside;
    flex: 0 0 100%;
  }
  
  
  
  h2 {
    display: table;
    margin: 0 auto;
    align-items: center;
    background-color: #f5e9e9;
    width: 300px;
    height: 100px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 24px;
    display: inline-block;
  
    background-size: 50%;
   
    border: white;
    border-radius: 10px;
  }
  
  h4 {
    cursor:pointer;
    margin-bottom: 0px;
    display: inline;
  }
  form.normal {
   
    opacity: 80%;
    
    background-blend-mode: color;
    display: inline-block;
  
    background-color: white;
    border-radius: 30px;
    margin: 5px;
    margin-top: 100px;
    padding-top: 10px;
    box-shadow: 0 5px 15px rgba(185, 154, 154, 0.2);
    width: 320px;
    height: 380px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.5px);
  }
  
  h1 {
    text-align: center;
    line-height: 0.7em;
    display: inline;
    padding-top: 10px;
  }
  
  h3 {
    text-align: -webkit-left;
    font-size:xx-large;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 50px;
  }
  img {
    scale: 10%;
    display: flex;
    border-bottom: 10cm;
    position: absolute;
    top: -55%;
    right: 0;
  }
  link {
    text-align: center;
    
  }
  
  form.embed {
    opacity: 1;  
    background-blend-mode: color;
    display: inline-block;
    border-radius: 30px;
    padding-top: 40px;
    box-shadow: 0 5px 15px rgba(185, 154, 154, 0.2);
    width: 320px;
    height: 170px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.5px);
  }
  
  a {
    text-decoration: none;
    color: #e74d1c;
  }
  .project-names{
    color: #7B7575;
  }
  .Invisible{
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 0;
  }
  
  div {
    padding-top: 10px;
  }
  a:active{
    color:#8982ca
  }
  
  b{
    color: #7B7575;
  }

  .modal {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0px;

  
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }
  /*
  a:visited{
    color: #e74d1c;
  
  }*/
  